// COLORS

// Common
@accent-color-1: #769656;
@accent-color-2: #baca4460;
@accent-color-3: #e9e9d5;
@accent-color-4: #eefed3;
@color-positive: #ffffff;
@color-negative: #000000;
@color-negative-1: #8a8a8aa6;
@color-negative-2: #000000de;

// Text
@text-color-1: #d7a62f;

// Background
@primary-background: #b9b0b0;
@board-background: #d9ecd0;
@box-background: #77a8a8;

// Border
@primary-border-color: #2c3e50;

// ---COLORS

// LENGTHS
@body-height: 100vh;
@game-height: @body-height - 20vh;
@game-width: 90%;

@game-info-width: 100%;
@history-width: 100%;

// Board
@board-height: 60vh;
@board-width: @board-height;

// Box
@box-width: @board-height / 3;
@box-height: @box-width;

// ---LENGTHS

// FONT

@symbols-font-size: @box-width * 0.75;

// ---FONT
