
// COLORS
@primary-color: #e4d1d1;

// BACKGROUND COLORS
@primary-background: #b9b0b0;
@board-background: #d9ecd0;
@square-background: #77a8a8;

//BORDER COLORS
@primary-border-color: #2c3e50;

// LENGTHS
@body-height: 100vh;
@game-height: @body-height - 20vh;
@game-width: @game-height;

// Square 
@square-width: 180px;
@square-height: @square-width;

// Board
// @square-width: 180px;
// @square-height: @square-width;