
// COLORS
@text-color-1: #d7a62f;
@accent-color-1: #769656;
@accent-color-2:#baca44;
@accent-color-3:#e9e9d5;
@accent-color-4:#eefed3;
@color-positive: #ffffff;
@color-negative: #000000;
@color-negative-1: #8a8a8aa6;
@color-negative-2: #000000de;

// BACKGROUND COLORS
@primary-background: #b9b0b0;
@board-background: #d9ecd0;
@box-background: #77a8a8;

//BORDER COLORS
@primary-border-color: #2c3e50;

// LENGTHS
@body-height: 100vh;
@game-height: @body-height - 20vh;
@game-width: @game-height;

// Board
@board-height: 60vh;
@board-width: @board-height;

// Box 
@box-width: @board-height / 3;
@box-height: @box-width;


// FONT
@symbols-font-size: @box-width * 0.75;
