@import '../../styles/variables.less';
@import '../../styles/mixins.less';
@import './Board/board.less';
@import './GameInfo/game-info.less';

.game-container {
   height: @game-height;
   width: @game-width;
   border-radius: 10px;
   background-color: red;

   .center-element();
}