@import '../../../../styles/mixins.less';

.box {
    transition: all 0.3s ease;
    border: none;
    width: @box-width;
    height: @box-height;
    background-color: @color-negative-1;
    font-size: @symbols-font-size;
    font-family: Helvetica;
    font-weight: bold;
    
    .box-shadow(@color-negative-2);
    .border-radius(10px);
    
    &.selectable {
        cursor: pointer; 
        transform: scale(1.02);

        &.positive-select:hover {
            background-color: @color-positive;
        }
    
        &.negative-select:hover{
            background-color: @color-negative;
        }
    }

    &.negative {
        color: @color-positive;
        background-color: @color-negative;
    }

    &.positive {
        color: @color-negative;
        background-color: @color-positive;
    }

    &:focus {
        outline: none;
    }
}



